@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './prism.css';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .shine {
    box-shadow: -8px 0px 20px rgba(54, 16, 211, 0.6),
      0px 0px 20px rgba(79, 70, 229, 0.6), 8px 0px 20px rgba(131, 58, 180, 0.6);
  }

  .dark .prose a {
    color: #a0a4c2;
  }

  .prose {
    color: #a0a4c2;
  }
}

@layer utilities {
  .bg-purple {
    background-color: #4e31ad;
  }

  .text-purple {
    color: #4e31ad;
  }
}
