@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './prism.css';
@import './fonts.css';

@layer components {
  .shine {
    box-shadow: -8px 0px 20px rgba(24, 226, 81, 0.3),
      0px 0px 20px rgba(0, 192, 234, 0.3), 8px 0px 20px rgba(98, 72, 255, 0.3);
  }

  .dark .prose a {
    color: white;
  }
}

/* Add the following rules to set the background image */
body {
  background-image: url('https://raw.githubusercontent.com/Vortextech01/mintlify.com/main/public/static/images/blog/FE2B9339-EEBC-4476-9A0A-2C36E560D164.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
